
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        h1, h2 {
            text-align: center;
        }

        h4 {
            text-align: justify;
        }
        </style>
    <title>Intro</title>
    </head>

<body>

    <div style="background-color: #ADD8E6">
        <h1> Curriculum Vitae </h1>
    </div>
    <div style="background-color: #728FCE">
        <h2 style="color:white">Welcome To My Curriculum Vitae  </h2>
    </div>
    <br>
    <h1>
        <button onclick="window.location.href ='/CV/Index'">Personal Information</button>
    </h1>

    <h1>
        <button onclick="window.location.href ='/CV/Education'">Education</button>
    </h1>
    <h1>
        <button onclick="window.location.href ='/CV/ExtracExtracurricularActivities'">Extracurricular Activities</button>
    </h1>
    <h1>
        <button onclick="window.location.href ='/CV/Reference'">References</button>
    </h1>

</body>

</html>

