
@{
    Layout = null;
}

<!DOCTYPE html>



<html>
<head>
    <style>

        h1, h2{
            text-align:center;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

            table.center {
                margin-left: auto;
                margin-right: auto;
            }

        </style>

    <title>Education</title>

</head>



<body>


    <div style="background-color: #ADD8E6">
        <h1> Curriculum Vitae </h1>
    </div>
    <div style="background-color: #6698FF">
        <h2 style="color:white">Education</h2>
    </div>
    <div>
        <table class="center">
            <tr>
                <th>Exam Title</th>
                <th>Concentration</th>
                <th>Instritute</th>
                <th>Result</th>
                <th>Passing Year</th>
            </tr>

            <tr>
                <td>B.Sc. in Engineering</td>
                <td>Computer Science & Engineering</td>
                <td>American International University of Bangladesh</td>
                <td>CGPA 4.00 out of 4.00</td>
                <td>2022</td>
            </tr>

            <tr>
                <td>HSC</td>
                <td>Science</td>
                <td>BM College, Barisal</td>
                <td>GPA 4.50 out of 5 </td>
                <td>2018</td>
            </tr>

            <tr>
                <td>SSC</td>
                <td>Science</td>
                <td>Oxford Mission High School, Barisal</td>
                <td>GPA 5 out of 5</td>
                <td>2016</td>
            </tr>
        </table>
        <br /><br /><br />
                    <div style="text-align:center">
                        <a href="/CV/CVintro">Back</a>
                    </div>
        </div>


</body>
    </html>
   

