
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <style>
        h1,h2{
            text-align:center;
        }
        h4 {
            text-align: justify;
        }
        </style>


    <title>Reference</title>
    </head>

<body>

    <div>
        <div style="background-color: #ADD8E6">
            <h1> Curriculum Vitae </h1>
        </div>
        <div style="background-color: #728FCE">
            <h2 style="color:white">Reference</h2>
        </div>
        <br />
        <h4>1. Tanvir Ahmed</h4>
        <h4>Faculty</h4>
        <h4>American International University-Bangladesh</h4>
        <h4>tanvir.ahmed@aiub.edu</h4>
        <br />
        <h4>2. MD MASUM BILLAH</h4>
        <h4>Faculty</h4>
        <h4>American International University-Bangladesh</h4>
        <h4>billah.masumcu@aiub.edu</h4>
        <br /><br />
    </div>

    <div style="text-align:center">
        <a href="/CV/CVintro">Back</a>
    </div>

</body>

</html>
